@import "./base/normalize.scss";
* {
  box-sizing: border-box;
}
 
$primary-color: #154fa5;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f0f0f0;
}
header {
  width: 100%;
  background: #333;
  height: 20px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 40px;
}

.pagina {
  background: #fcfcfc;
  padding: 20px;
  width: 700px;
  overflow: hidden;
  margin: 40px auto;
  box-shadow: 0em 0.1em 0.2em #666;
}

#form_contrato {
  padding: 0px;
  width: 100%;
  display: block;
  max-width: 660px;
  height: auto;
  min-width: 500px;
  font-size: 14px;
  color:#333;
  overflow: hidden;

  fieldset {
    border: 0px solid #ddd;
    border-collapse: collapse;
    margin: 5px;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    padding: 20px;
  }

  label {
    display: block;
    float: left;
    padding: 5px 0px 0px 5px;
    flex: 1;
    max-width: 50px;
  }

  input {
    padding: 5px;
    display: block;
    flex: 2;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid #aaa;
  }


  #fieldset_resp,
  #fieldset_aluno {
    position: relative;
    overflow: hidden;
    .div_input {
      padding: 5px 10px;
      width: 50%;
      float: left;
      overflow: hidden;
      border-radius: 5px;
      display: flex;
      justify-content: flex-end;
    }
    .label_numero{ max-width:45px !important; padding-left:20px;}
      .end_numero{ max-width:60px !important; }
     #label_parentesco{max-width:100px !important; padding-left:20px;}
  }


  #fieldset_resp {
    border-radius: 3px;
  }

  #fieldset_aluno {
    display:block;
    
    height:230px;
    border-color: #d1a296;
    transition: height 1s, padding 1s, opacity 0.8s;
    opacity:1; 
  }

  
.aluno_off{
  height : 2px !important;
padding:0px;
  opacity:0 !important;
  margin-bottom:0px; 
  }
  /*-------------------CURSO FIELDS--------------*/
  #fieldset_curso {

    .div_input {
     // border: 1px solid #666;
      float: left;
      width:33.333%;
      overflow: hidden;
      padding:5px;
     // background:#ccc;
    }
    label {
      width: 110px !important;
      padding-left:20px;
      max-width: 55% !important;
      display: block;
      background: #eeeeef;
      overflow: hidden;
      float:left;
      border-radius: 3px 0px 0px 3px;


    }
    input{
        width:85px;
        float:right;
        border-color:#afafbb;
    }
    select {
      flex: 2;
      width: 190px;
      padding:5px ; font-size:15px;
      border-color:#afafbb;
    }
    label, input, select{
        height:27px !important;
    }

 #div_curso_modulos{
   width:100% !important;
   input{width:80%;}
 }

    #div_curso_nome{
        width:66.666%;
        label{width:20% !important;}
        select{ width:80%; padding:1px 0px 3px 5px;}
    
    }
    #div_curso_valor{
        width:33.3333%;
        input{color:green; font-size:16px; }

    
    }
    #div_curso_data, #div_curso_inicio{
        width:50% !important;
        label{width:130px !important;}
        input{width:164px;}
    }
#div_curso_obs{
    width:100%;
    label{width:160px !important;}
    textarea{ width:100%; 
        resize: vertical; min-height: 60px; 
    }

}

  }

  #div_resp_nome,
  #div_resp_end,
  #div_aluno_nome,
  #div_aluno_end {
    width: 100% !important;
    label {
      max-width: 100px;
     
    }
  }

  #div_resp_nome{
    
    div{ 
      overflow: hidden;
      label{
       user-select:none;
        margin: 0 0 0 10px;
        padding:6px 5px 6px 12px;
        max-width:250px !important;
        cursor: pointer;
        background:#444 ;
        color:#fff;
        border-radius:0px 4px 4px 0px;
       &:hover{
         // background:lighten($primary-color, 5%);
    }
        &:active{ background: darken($primary-color, 5%);
        
      }
      input{
        float:right;
        margin: 2px 5px 0px 7px;
      }
 
    }
      }
    

  }

  label:has(> b){
    background:#f90 !important;
  }

#block_aluno{
  display:none;
  width:100%; min-height: 300px;
  position:absolute;
  top:0; left:0;
  background:rgba(0,0,0, 0.1)
}

  #btn_salvar {
    float: right;
    margin: 20px;
    background: $primary-color;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      background: lighten($primary-color, 10%);
    }
    &:active {
      background: darken($primary-color, 5%);
    }
  }
}
